<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <title>Scramble</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script>
        if (document.querySelector && window.addEventListener) {
            document.documentElement.classList.add('js');
        }
    </script>

    <style>
        .js #warning { display: none; }
    </style>

</head>
<body>
    <main class="container">
        <div id="warning" class="alert alert-danger" role="alert">
            This program requires <strong>Javascript</strong> in order to run. Please enable Javascript within your browser's settings.
        </div>

        <div class="jumbotron">
            <h1>Scramble</h1>
            <p class="text-muted">A Zero Daedalus Game</p>
            <p>
                <a href="#" onclick="scramble.core.newGame()">Start New Game</a>
                <a href="#" onclick="scramble.core.quit()">Quit Game</a>
            </p>
        </div>

        <form class="well container-fluid" action="javascript:void(0);">
            <div class="well">
                <p>
                    Time left: <span id="timer"></span>
                </p>
                <span class="badge">Score: <span id="score"></span></span>
                <span class="badge">Multiplier: <span id="multiplier"></span></span>
                <span class="badge invisible">Correct!</span>
            </div>
            <div class="well">
                The word to unscramble is: <mark><strong><span id="scrambled"></span></strong></mark>
            </div>
            <div class="form-group">
                <input id="answer" type="text" class="form-control" placeholder="Type your answer here" autofocus>
            </div>
        </form>
    </main>
    <script src="script.js"></script>
    <script>
        scramble.core.init();
    </script>
</body>
</html>
